.card {
  align-content: center;
  border: 2px solid whitesmoke;
  border-radius: 6px;
  margin: 5px;
  width: 300px;
  max-width: 420px;
}
h1, label, h3 {
    color: white;
}
.card p {
  padding: 10px 0;
  color: white;
  width: inherit;
  text-align: center;
}

.card img {
  height: 270px;
  width: inherit;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
